<table class="table table-striped table-hover table-secondary">
  <thead>
    <tr>
      <th scope="col">Announcements</th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><p><%= link_to announcement.title, announcement %><br><b>Description: </b><%= announcement.description %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>