<p id="notice"><%= notice %></p>

<h1>Seminars</h1>
<%= render 'shared/seminar_calendar' %>

<h2>Events List</h2>
<%= render 'shared/upcoming_events' %>


<br>

<%= link_to 'New Seminar', new_seminar_path %>
